@model InventoryTool.Model.VMPartStock

<div>
    <div style="float: left;  margin: 0px 8px;">
        <label>Store</label>
        @Html.DropDownList("ddlStore", (new SelectList(Model.StoreList, "Store_Id", "Store_Name")), "Select Store", new { @class = " form-control" })
    </div> 
    <div style="float: left;  margin: 20px 8px;">
        <form action="">
            <input type="radio" id="rdInput" name="rdbutton" value="Input" checked="checked">Input<br>
            <input type="radio" id="rdOutput" name="rdbutton" value="Output">Output
        </form>
    </div> 
    <div style="float: left;  margin: 0px 8px;">
        <label>Date</label>       
        <input type="date" data-val="true" id="Date" data-val-required="Date is required" class="form-control" value=@DateTime.Now placeholder="Date" style="width:150px;">
    </div>    
    <div style="float: left;  margin: 0px 8px;">
        <label>Description</label>
        <input type="text" id="Description" class="form-control" placeholder="Description" style="width:300px;">
    </div>
   
    <div style="float: left;  margin: 30px 8px;">
        <button type="button" id="btnUpdateStock">Add</button>
    </div>
</div>
