@model InventoryTool.Model.VMPartStock
@{
    ViewBag.Title = "Part Stock Management";
}
<script src="~/Scripts/Part/Part.js"></script>
<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="Stylesheet" type="text/css">
<link href="~/Content/custom-css/custome.css" rel="stylesheet" />
<link href="~/Content/custom-css/shared.css" rel="stylesheet" />

<div class="container" style="width:100%;background-color:#ccc;">
<div class="panel-body">
    @Html.Partial("_FilterPanel", Model)
    </div>
</div>

<div id="grdFilterList" style="min-height :100px; max-height: 550px; overflow-y: scroll;">
    @*Bind _LineItemList using ajax call*@
</div>



<script type="text/javascript">

    $(document).ready(function () {
        var PartStockjs = {
            init: function () {
                var obj = PartStockjs;
                obj.LoadPartStock();
                Common.setAttributeList(obj);
            },
            LoadPartStock: function () {

                //Handle the Find Filter click event.
                $('#btnFind').on('click', function () {
                    PartStockjs.GetFilterresult();
                });
            },

            GetFilterresult: function () {
               
                var urlPath, Part_Type_Id, Outsource_Type_Id, Part_Code, Part_Name, Unit_Id 
	                ,Category_Id, Color_Id, Material_Id, Criticality_Id 

                Part_Type_Id = $("#ddlPart_Type").find("option:selected").val();
                Outsource_Type_Id = $("#ddlOutsource_Type").find("option:selected").val();
                Part_Code = $("#Part_Code").val();
                Part_Name = $("#Part_Name").val();
                Unit_Id = $("#ddlUnit").find("option:selected").val();
                Category_Id = $("#ddlCategory").find("option:selected").val();
                Color_Id = $("#ddlColor").find("option:selected").val();
                Material_Id = $("#ddlMaterial").find("option:selected").val();
                Criticality_Id = $("#ddlCriticality").find("option:selected").val();
                
                if (Part_Code != "") {
                    Part_Type_Id = '';
                    Outsource_Type_Id = '';
                    Part_Name = '';
                    Unit_Id = '';
                    Category_Id = '';
                    Color_Id = '';
                    Material_Id = '';
                    Criticality_Id = '';
                }
                else {
                    if ($("#ddlPart_Type").find("option:selected").val() <= 0) {
                        Part_Type_Id = '';
                    }
                    if ($("#ddlOutsource_Type").find("option:selected").val() <= 0) {
                        Outsource_Type_Id = '';
                    }
                    if ($("#ddlUnit").find("option:selected").val() <= 0) {
                        Unit_Id = '';
                    }
                    if ($("#ddlCategory").find("option:selected").val() <= 0) {
                        Team_Id = '';
                    }                 

                    if (Part_Code == '') {
                        Part_Code = '';
                    }
                    if (Part_Name == '') {
                        Part_Name = '';
                    }
                    if ($("#ddlColor").find("option:selected").val() <= 0) {
                        Color_Id = '';
                    }
                    if ($("#ddlMaterial").find("option:selected").val() <= 0) {
                        Material_Id = '';
                    }
                    if ($("#ddlCriticality_Id").find("option:selected").val() <= 0) {
                        Criticality_Id = '';
                    }
                }
                
                urlPath = "/PartStock/GetPartByFilter";
                $.ajax({
                    type: "Get",
                    cache: false,
                    url: urlPath,
                    data: {
                        Part_Type_Id: Part_Type_Id,
                        Outsource_Type_Id: Outsource_Type_Id,
                        Part_Code: Part_Code,
                        Part_Name: Part_Name,
                        Unit_Id: Unit_Id,
                        Category_Id: Category_Id,
                        Color_Id: Color_Id,
                        Material_Id: Material_Id,
                        Criticality_Id: Criticality_Id
                    },
                    beforeSend: function () {
                        Common.showDialog.show('Please wait....', {
                            dialogSize: 'sm',
                            progressType: 'warning'
                        });
                    },
                    complete: function () {
                        Common.showDialog.hide();
                    },
                    success: function (result) {
                        debugger;
                        if (result.operationstatuscode == 3) {
                            fn_ShowHideUserMessageDivWithCssClass_common('divDisplayPartMessages', result.messagedata, true, 'alert alert-success');
                            Partjs.fn_ReloadPartGrid();
                        }
                        else {
                            fn_ShowHideUserMessageDivWithCssClass_common('divDisplayPartMessages', result.messagedata, true, 'alert alert-danger');
                        }
                    },
                    error: function (ex) {
                        alert(ex.responseText);
                    }
                });
            },
        }
        PartStockjs.init();
    });
</script>