@model InventoryTool.Model.VMPartStock
@{
    ViewBag.Title = "Part Stock Management";
}
<script src="~/Scripts/Part/Part.js"></script>
<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="Stylesheet" type="text/css">
<link href="~/Content/custom-css/custome.css" rel="stylesheet" />
<link href="~/Content/custom-css/shared.css" rel="stylesheet" />

<div class="container" style="width:100%;background-color:#ccc;">
<div class="panel-body">
    @Html.Partial("_FilterPanel", Model)
    </div>
</div>



<script type="text/javascript">

    $(document).ready(function () {
        var PartStockjs = {
            init: function () {
                var obj = PartStockjs;
                obj.LoadPartStock();
                Common.setAttributeList(obj);
            },
            LoadPartStock: function () {

                
            },

            
        }
        PartStockjs.init();
    });
</script>