
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OTP</title>
</head>
<body>
    <div> 
        <h4>Enter OTP sent to your email ID</h4>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.OTP, new { @class = "form-control" })
         </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
</body>
</html>
