@model IEnumerable<InventoryTool.Model.vw_MinimumBalance>
@{
    ViewBag.Title = "Products";
}
<script src="~/Scripts/Product/Product.js"></script>
<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="Stylesheet" type="text/css">
<link href="~/Content/custom-css/custome.css" rel="stylesheet" />
<link href="~/Content/custom-css/shared.css" rel="stylesheet" />
<div class="container" style="margin-top:23px">
    <div id="dvMinBalanceReport">
        @Html.Partial("_MinBalanceReport", Model)
    </div>
</div>


