@model IEnumerable<InventoryTool.Model.GetAllSupplier_Result>
@{
    ViewBag.Title = "Suppliers";
}
<script src="~/Scripts/Supplier/Supplier.js"></script>
<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="Stylesheet" type="text/css">
<link href="~/Content/custom-css/custome.css" rel="stylesheet" />
<link href="~/Content/custom-css/shared.css" rel="stylesheet" />
<div role="tabpanel" class="tab-pane active" id="Supplier">  
    <div class="container panel panel-default" style="margin-top:23px">
        <label style="margin-left:30px;">Supplier</label><br />
        <div id="divDisplaySupplierMessages">
        </div>
        <div id="dvSupplierList" style="width:650px; float:left;">
            @Html.Partial("_SupplierList", Model)
        </div>
        <div id="divSupplierDetail" style="float:right;">
            @Html.Partial("_AddSupplier", Model)
        </div>
    </div>
</div>
    

<script type="text/javascript">

    $(document).ready(function () {
        var Supplierjs = {
            init: function () {
                var obj = Supplierjs;
                obj.LoadSupplier();
                Common.setAttributeList(obj);
            },
            LoadSupplier: function () {

                //initial load the Datatable setting.
                Supplierjs.ReinitiateDataTable('tblSupplierList');

                $("#Supplier").find("#dvSupplierList").on("click", ".clsDeleteSupplier", function () {

                    var data, Supplier_Id, urlPath;
                    var promptdelete = confirm('Are you sure you want to delete this record? There could be dependent budget requests which may get impacted based on this action');
                    if (promptdelete) {
                        data = $(this).parents('tr');
                        Supplier_Id = $(data).attr('data-Supplier_id');
                        urlPath = "/Supplier/DeleteSupplier";
                        if (Supplier_Id != '') {
                            $.ajax({
                                type: "Get",
                                cache: false,
                                url: urlPath,
                                data: {
                                    Supplier_Id: Supplier_Id
                                },
                                beforeSend: function () {
                                    Common.showDialog.show('Please wait....', {
                                        dialogSize: 'sm',
                                        progressType: 'warning'
                                    });
                                },
                                complete: function () {
                                    Common.showDialog.hide();
                                },
                                success: function (result) {
                                    if (result.operationstatuscode == 3) {
                                        fn_ShowHideUserMessageDivWithCssClass_common('divDisplaySupplierMessages', result.messagedata, true, 'alert alert-success');
                                        Supplierjs.fn_ReloadSupplierGrid();
                                    }
                                    else {
                                        fn_ShowHideUserMessageDivWithCssClass_common('divDisplaySupplierMessages', result.messagedata, true, 'alert alert-danger');
                                    }
                                },
                                error: function (ex) {
                                    alert(ex.responseText);
                                }
                            });
                        }
                    }
                });
                ///Get Data in Edit Mode
                $("#Supplier").find("#dvSupplierList").on("click", ".clsEditSupplier", function () {

                    var Supplier_Id, data, urlPath;
                    data = $(this).parents('tr');
                    Supplier_Id = $(data).attr('data-Supplier_id');
                    urlPath = "/Supplier/GetSupplierBySupplierId";
                    if (Supplier_Id != '') {
                        $.ajax({
                            type: "Get",
                            cache: false,
                            url: urlPath,
                            data: {
                                Supplier_Id: Supplier_Id
                            },
                            beforeSend: function () {
                                Common.showDialog.show('Please wait....', {
                                    dialogSize: 'sm',
                                    progressType: 'warning'
                                });
                            },
                            complete: function () {
                                Common.showDialog.hide();
                            },
                            success: function (result) {
                                var row = $("#divSupplierDetail");
                                $(row).find('.clsSupplier_Id').val(result.Supplier_Id);
                                $(row).find('.clsSupplier_Code').val(result.Supplier_Code);
                                $(row).find('.clsSupplier_Name').val(result.Supplier_Name);
                                $(row).find('.clsContact_No').val(result.Contact_No);
                                $(row).find('.clsEmail').val(result.Email);
                                $(row).find('.clsAddress1').val(result.Address1);
                                $(row).find('.clsAddress2').val(result.Address2);
                                $(row).find('.clsCity').val(result.City);
                                $(row).find('.clsState').val(result.State);
                                $(row).find('.clsPinCode').val(result.PinCode);
                                $(row).find('.clsTinNo').val(result.TinNo);
                                $(row).find('.clsVatNo').val(result.VatNo);
                                $(row).find('.clsNote').val(result.Note);
                            },
                            error: function (ex) {
                                alert(ex.responseText);
                            }
                        });
                    }

                });
                ///Handle the Cancel update functionality
                $("#Supplier").find("#divSupplierDetail").on("click", "#btnCancelButton", function () {

                    Supplierjs.clearSupplierDetail();

                });
                ///Handle the Add/update functionality
                $("#Supplier").find("#divSupplierDetail").on("click", "#btnAddUpdateSupplier", function () {

                    var Supplier_Id, Supplier_Name, data, urlPath;
                    var strValidationMsglists = "";

                    var data = $("#divSupplierDetail");
                    Supplier_Id = $(data).find(".clsSupplier_Id").val();
                    Supplier_Name = $(data).find(".clsSupplier_Name").val();
                    Supplier_Code = $(data).find(".clsSupplier_Code").val();
                    Contact_No = $(data).find(".clsContact_No").val();
                    Email = $(data).find(".clsEmail").val();
                    Address1 = $(data).find(".clsAddress1").val();
                    Address2 = $(data).find(".clsAddress2").val();
                    City = $(data).find(".clsCity").val();
                    State = $(data).find(".clsState").val();
                    PinCode = $(data).find(".clsPinCode").val();
                    TinNo = $(data).find(".clsTinNo").val();
                    VatNo = $(data).find(".clsVatNo").val();
                    Note = $(data).find(".clsNote").val();
                    //put validation here

                    if (Supplier_Name == "")  {
                        strValidationMsglists = strValidationMsglists + "<li>Supplier Name is required.</li>";
                    }
                    if (Supplier_Code == "")  {
                        strValidationMsglists = strValidationMsglists + "<li>Supplier Code is required.</li>";
                    }
                    if (Email != "" && ! isEmail(Email)) {
                        strValidationMsglists = strValidationMsglists + "<li>Enter a valid Email.</li>";
                    }

                    if (strValidationMsglists != "") {
                        strValidationMsglists = "<ol>" + strValidationMsglists + "</ol>"
                        fn_ShowHideUserMessageDivWithCssClass_common('divDisplaySupplierMessages', strValidationMsglists, true, 'alert alert-danger'); //common function to display error message.
                        return false;
                    }
                    urlPath = "/Supplier/AddUpdateSupplier";
                    if (true) {
                        $.ajax({
                            type: "Get",
                            cache: false,
                            url: urlPath,
                            data: {
                                Supplier_Id: Supplier_Id,
                                Supplier_Code: Supplier_Code,
                                Supplier_Name: Supplier_Name,
                                Contact_No: Contact_No,
                                Email: Email,
                                Address1: Address1,
                                Address2: Address2,
                                City: City,
                                State: State,
                                PinCode: PinCode,
                                TinNo: TinNo,
                                VatNo: VatNo,
                                Note: Note,
                            },
                            beforeSend: function () {
                                Common.showDialog.show('Please wait....', {
                                    dialogSize: 'sm',
                                    progressType: 'warning'
                                });
                            },
                            complete: function () {
                                Common.showDialog.hide();
                            },
                            success: function (result) {
                                if (result.operationstatuscode == 1 || result.operationstatuscode == 2) {
                                    fn_ShowHideUserMessageDivWithCssClass_common('divDisplaySupplierMessages', result.messagedata, true, 'alert alert-success');
                                    Supplierjs.clearSupplierDetail();
                                    Supplierjs.fn_ReloadSupplierGrid();
                                }
                                else {
                                    fn_ShowHideUserMessageDivWithCssClass_common('divDisplaySupplierMessages', result.messagedata, true, 'alert alert-danger');
                                }
                            },
                            error: function (ex) {
                                alert(ex.responseText);
                            }
                        });
                    }
                });
            },

            ///This function refresh the grid data.
            fn_ReloadSupplierGrid: function () {

                var urlPath = "/Supplier/GetSupplierPartial";
                if (true) {
                    $.ajax({
                        type: "Get",
                        cache: false,
                        url: urlPath,
                        beforeSend: function () {
                            //Common.showDialog.show('Please wait....', {
                            //    dialogSize: 'sm',
                            //    progressType: 'warning'
                            //});
                        },
                        complete: function () {
                            Supplierjs.ReinitiateDataTable('tblSupplierList');
                            Common.showDialog.hide();

                        },
                        success: function (result) {
                            $("#dvSupplierList").html(result);
                            Common.showDialog.hide();
                        },
                        error: function (ex) {
                            alert(ex.responseText);
                        }
                    });
                }
            },
            ReinitiateDataTable: function (tableId) {

                $("#" + tableId).DataTable(
                {
                    bFilter: false, bInfo: false, bLengthChange: false, "order": [0, 'asc'],
                    "aoColumnDefs": [
                     {
                         'bSortable': false,
                         'aTargets': ['action-col', 'text-holder']
                     }]
                }
                  );
            },
            clearSupplierDetail: function(){
                var row = $("#divSupplierDetail");
                $(row).find('.clsSupplier_Id').val('-1');
                $(row).find('.clsSupplier_Code').val('');
                $(row).find('.clsSupplier_Name').val('');
                $(row).find('.clsContact_No').val('');
                $(row).find('.clsEmail').val('');
                $(row).find('.clsAddress1').val('');
                $(row).find('.clsAddress2').val('');
                $(row).find('.clsCity').val('');
                $(row).find('.clsState').val('');
                $(row).find('.clsPinCode').val('');
                $(row).find('.clsTinNo').val('');
                $(row).find('.clsVatNo').val('');
                $(row).find('.clsNote').val('');
            }

        }
        Supplierjs.init();
    });
</script>