  .pagination > li > a, .pagination > li > span {border-radius: 20px;padding: 1px 6px;}
  .pagination > .active > a{background-color:#01A4EF;} 
 .pagination > li > a, .pagination > li > span:hover{border-radius: 20px;padding: 1px 6px;}
  .find_btn{background-color:#01A4EF;
     border-radius: 4px;
    color: #fff8f8;
    float: right;}
	.panel-footer{padding:6px 10px 36px 15px;}
	.panel-title > a, .panel-title > small{
    color: #01A4EF;
    text-decoration: none;
    margin-left: 2px;
    font-size: x-large;
	
}


.form-inline .form-group > div.col-xs-8 {
    padding-left: 0;
    padding-right: 0;
}

.form-inline label {
    line-height: 34px;
}

.form-inline .form-control {
    width: 100%;
}
/*.form-control {
    background-color: #E1F1F0;
}*/


.seach_btn{  -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #ccc #ccc #ccc -moz-use-text-color;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    color: #000;}
#accordion .glyphicon-chevron-down {color:#01A4EF; cursor: pointer;}
#accordion .glyphicon-chevron-up{color:#01A4EF; cursor: pointer;}
.dataTables_wrapper .dataTables_paginate .paginate_button {padding: 0em 0em;}
.padding_row{padding-left:5px !important; padding-right:5px !important;}
.padding_row_data{padding-left:10px !important; padding-right:10px !important;}
.input-group-addon{padding:2px;}
 .control-label{color: #000 !important;
    font-size: 11px;
    margin-bottom: 0;
    padding-top: 7px;
    text-align: center !important;}
	.padd0{padding:0px}
	.nav > li > a{color:#FFF8F8;font-size: 14px;}
	.nav > li > a:focus, .nav > li > a:hover{color:#FFF8F8;font-size: 14px;background-color:#001636;}
	.nav >  a{color:#FFF8F8; font-size: 14px;}
	.nav > li > a:focus, .nav >  a:hover{color:#FFF8F8;font-size: 14px;background-color:#001636;}
	.caret{/*visibility: hidden;*/ display:none}
	.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #001636;
    border-color: #4D6184;
}
.icon_border{ border-left: 1px solid #4D6184;
    border-right: 1px solid #4D6184;}
	.toggal_icone{ border: 1px solid;
    border-radius: 15px;
    margin-top: -5px;
    padding: 4px;}
   .cont_margin{margin:10px 0;}
   .cont_input{border:solid 1px #505050}

/*.input_box_control{padding-left:90px; font-size: 11px;}
.unit {position:absolute;display:block;left:4px;top:7px;z-index:9;color:#000;font-size: 12px;}*/

.input_box_control{padding-left:90px; font-size: 11px;color: #000;
                   height:auto;
                   min-height:34px;
                   overflow:hidden}
.unit { position:absolute;display:block;left:4px;top:7px;z-index:9;color: #000 !important;font-size: 12px;}

td > a{text-decoration: underline;}

  .full {
    width: 100%;	
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
.footer {
	background: #EDEFF1;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #78828D
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
	background: #FFFFFF;
	display: inline-block;
	float: left;
	height: 30px;
	clear: both;
	width: 100%;
}
.newsletter-box .btn {
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #fff;
}
.newsletter-box {
	overflow: hidden;
}
.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}
.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: #EDEFF1 !important;
}
.footer-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}
.payments {
	font-size: 1.5em;	
}



  
  <!--progress bar css--->


       h1 {
  /*text-align: center;*/

  text-align: center;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 20px 0;
  color: #777;
}

.checkout-wrap {
  color:#444 ;
  font-family: 'PT Sans Caption', sans-serif;
  margin: 40px auto;
  max-width: 1200px;
  position: relative;

}
.abc{width: 100%;
            height: 250px;
            overflow: auto;
            overflow-y: hidden;
           
            white-space: nowrap}

ul.checkout-bar li {
  color:#18ACF6;
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 20px 14px 80px;
  position: relative;
}
ul.checkout-bar li:before {
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  /*box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);*/
  background: #ddd;
  border: 8px solid #18ACF6;
  border-radius: 50%;
  color: #18ACF6;
  font-size: 16px;
  font-weight: 700;
  left: 20px;
  line-height: 37px;
  height: 35px;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  top: 4px;
  width: 35px;
  z-index: 999;
  

}
.arrow-down {
  border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 9px solid #18ACF6;
    height: 0;
    width: 0;
	   margin-top: -28px;
    position: absolute;
	 margin-left: 148px;
}
.arrow-down_plane {
  border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 9px solid #fff;
    height: 0;
    width: 0;
	   margin-top: -28px;
    position: absolute;
	 margin-left:147px;
}
/*previous visited::after{ border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 7px solid #1496bb;
    bottom: -12px;
    content: " ";
    height: 0;
    left: 54%;
    margin-left: -13px;
    position: absolute;
    width: 0;}*/
/*text and circle color*/

ul.checkout-bar li.active {
  /*color: #8bc53f;*/
  color: #fff;
  font-weight: bold;
}
ul.checkout-bar li.active:before {
  /*background: #8bc53f;*/
  background: #FFF;
  color:#CCC;
  z-index: 999;
   border: 8px solid #CCC;
}
ul.checkout-bar li.active:before {
  /*background: #8bc53f;
  background: #fff;
  z-index: 99999;
  color:#bdbdbd;*/
}
ul.checkout-bar li.visited {
  background: #fff;

  /*color: #57aed1;*/
color: #abv;
  z-index: 999;
}
ul.checkout-bar li.visited:before {
  /*background: #57aed1;*/
   background: #fff;
  z-index: 99999;
}
ul.checkout-bar li:nth-child(1):before {
  content: "1";
  
}
ul.checkout-bar li:nth-child(2):before {
  content: "2";
}
ul.checkout-bar li:nth-child(3):before {
  content: "3";
}
ul.checkout-bar li:nth-child(4):before {
  content: "4";
}
ul.checkout-bar li:nth-child(5):before {
  content: "5";
}
ul.checkout-bar li:nth-child(6):before {
  content: "6";
}
ul.checkout-bar li:nth-child(7):before {
  content: "7";
}
ul.checkout-bar li:nth-child(8):before {
  content: "8";
}
ul.checkout-bar li:nth-child(9):before {
  content: "9";
}
ul.checkout-bar li:nth-child(10):before {
  content: "10";
}
ul.checkout-bar li:nth-child(11):before {
  content: "11";
}
ul.checkout-bar li:nth-child(12):before {
  content: "12";
}
ul.checkout-bar a {
  color: #57aed1;

color: #8bc53f;

  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

/*active blue color*/

  .checkout-bar li.active:after {
    -webkit-animation: myanimation 3s 0;
    background-size: 35px 35px;
     background-color: #CCCCCC;
    /*background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);*/
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content: "";
    height: 10px;
    width: 100%;
    left: 50%;
    position: absolute;
    top: -50px;
    z-index: 0;
  }

  .checkout-wrap {
    margin: 100px auto;
  
  }

  /*default bar color*/

  ul.checkout-bar {
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    background-size: 35px 35px;
    background-color: #EcEcEc;
   /* background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);*/
    border-radius: 10px;
    height: 10px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    width: 74.5%;
	/*change new*/
	left: -80px;
  }
.activedata {margin-left:-4px !important
}
  /*completed green color*/

  ul.checkout-bar:before {
    background-size: 35px 35px;
   
    background-color: #18ACF6;
    /*background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);*/
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    content: " ";
    height: 10px;
    left: 0;
    position: absolute;
    width: 100%;
  }
  ul.checkout-bar li {
    display: inline-block;
    margin: 50px 0 0;
    padding: 0;
    text-align: center;
    font-size: 11px;
    width: 19%;
  }
  ul.checkout-bar li:before {
    height: 45px;
	/*change new*/
    left: 82%;
    line-height: 31px;
    position: absolute;
    top: -70px;
    width: 45px;
    z-index: 99;
  }
  ul.checkout-bar li.visited {
    background: none;
  }
  ul.checkout-bar li.visited:after {
    background-size: 35px 35px;
    /*background-color: #18ACF6;*/

    background-color: #18ACF6;

    /*background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);*/
   /* background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);*/
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content: "";
    height: 10px;
    left: 50%;
    position: absolute;
    top: -50px;
    width: 100%;
    z-index: 99;
  }
  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}
  .item span {
    font-style: normal;
}
  
.carousel-indicators li {
    border-color: #f4511e;
}

.carousel-indicators li.active {
    background-color: #f4511e;
}
.checkout-bar >li{ font-size: 12px;}
  .checkout-bar >li > p{ color: #000;
    font-size: 12px;
    margin: 0 0 9px;
	font-weight:normal;}
	.span_date{margin-left: -51px;}
	.span_text{
    color: #000;
    margin-left: -45px;display: table;font-size: 11px;white-space: nowrap;}
    .span_textt{
    color: #000;
    margin-left: -15px;display: table;font-size: 11px;white-space: nowrap;}
    .span_texttt{
    color: #000;
    margin-left: -25px;display: table;font-size: 11px;white-space: nowrap;}

.progress_text {margin-left:-20px !important
}
    /* Tables */
table td, .table td {
    max-width: 120px;

    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    -ms-word-wrap: normal;
}

table, .table {
    margin: 10px 0;
}

table, .table, thead,
tbody, tr, th, td,
table > thead > tr > th,
.table > thead > tr > th {
    border: 1px rgb(112, 112, 112) solid;
}

thead {
    border-bottom: 2px rgb(112, 112, 112) solid;
}

thead > tr {
    background-color:#505050;
    color:#fff;
    /*background: linear-gradient(to bottom, rgb(191,191,191) 0%,rgb(216,216,216) 100%);
    background: -webkit-linear-gradient(to bottom, rgb(191,191,191) 0%,rgb(216,216,216) 100%);
    background: -moz-linear-gradient(to bottom, rgb(191,191,191) 0%,rgb(216,216,216) 100%);
    background: -o-linear-gradient(to bottom, rgb(191,191,191) 0%,rgb(216,216,216) 100%);*/
}

tbody > tr {
    /*height: 20px;

    background: linear-gradient(to bottom, rgb(232,232,232) 0%,rgb(247,247,247) 50%,rgb(232,232,232) 100%);
    background: -webkit-linear-gradient(to bottom, rgb(232,232,232) 0%,rgb(247,247,247) 50%,rgb(232,232,232) 100%);
    background: -moz-linear-gradient(to bottom, rgb(232,232,232) 0%,rgb(247,247,247) 50%,rgb(232,232,232) 100%);
    background: -o-linear-gradient(to bottom, rgb(232,232,232) 0%,rgb(247,247,247) 50%,rgb(232,232,232) 100%);*/
}

tbody > tr:hover {
    background: linear-gradient(to bottom, rgb(206,206,206) 0%,rgb(247,247,247) 50%,rgb(206,206,206) 100%);
    background: -webkit-linear-gradient(to bottom, rgb(206,206,206) 0%,rgb(247,247,247) 50%,rgb(206,206,206) 100%);
    background: -moz-linear-gradient(to bottom, rgb(206,206,206) 0%,rgb(247,247,247) 50%,rgb(206,206,206) 100%);
    background: -o-linear-gradient(to bottom, rgb(206,206,206) 0%,rgb(247,247,247) 50%,rgb(206,206,206) 100%);
}

th {
    text-align: center;
}

table .tiny-col, .table .tiny-col {
    width: 40px;
    text-align: center;
}
.selected {
   
    background-color: #cce6ff!important
      
}
.mandatory {
    color:red;font-size:10px
}

.Userspan { 
    display:block;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.ui-autocomplete {
                max-height: 120px;
                overflow-y: auto;
                /* prevent horizontal scrollbar */
                overflow-x: hidden;
              }
              /* IE 6 doesn't support max-height
               * we use height instead, but this forces the menu to always be this tall
               */
              * html .ui-autocomplete {
                height: 100px;
              }
            .container-full {
  margin: 0 auto;
  width: 100% !important;
}


.button__badge {
  background-color: #fa3e3e;
  border-radius: 2px;
  color: white;
 
  padding: 1px 3px;
  font-size: 10px;
  
  position: absolute; /* Position the badge within the relatively positioned button */
  top: 0;
  right: 0;
}
.icone_badge{ background-color: red;
    border-radius: 17px;
    float: right;
    height: 42px;
    margin: 0 !important;
    padding-top: 9px;
    text-align: center;
    top: -11px;
    width: 40px;}
	
	
	.arrow_box {
	 background: #88b7d5 none repeat scroll 0 0;
    border: 0 solid #c2e1f5;
    margin-top: 0px;
    position: absolute;
    width: 117px;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 0%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
/*	border-color: rgba(136, 183, 213, 0);
	border-top-color: #88b7d5;*/
	border-width: none;
	margin-left: none;
}
.arrow_box:before {
	border-color: #F5F5F5 rgba(194, 225, 245, 0) rgba(194, 225, 245, 0);
    border-width: 22px;
    margin-left: -47px;
    width: 23px;
    
}
	textarea{ resize: none;
    width: 100%;
     overflow: auto;
	}
	/*@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: #eee;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
	
}*/
/*.container{padding-left: 87px;}*/
.form-control{/*background-color:#E1F1F0*/}

.panel-title {margin-top: 0px;}
.tick_icon{height: 46px;
    margin-left: -69px;
    margin-top: -15px;
    padding: 4px;
    position: absolute;
    width: 46px;}
.input_box_control_order{padding-left:78px; border-color: #3c763d;}
.unitorder{position:absolute;display:block;left:25px;top:7px;z-index:9;color:#000;font-size: 12px;}
.input_Item{padding-left:13px; border-color: #3c763d;}
.input_ETA{padding-left:38px; border-color: #3c763d;}
.unit_ETA{position:absolute;display:block;left:25px;top:8px;z-index:9;color:#000;font-size: 12px;}
.input_current_status{padding-left:93px; border-color: #3c763d;}
.input_Associtae{padding-left:103px; border-color: #3c763d;}
#accordion, #accordionItems, #accordionSourcing, #accordionPurchasing, #accordion_Sipment_and_Delvery, #accordionNotes{margin-left:20px}

.input_text{padding-left:38px; border-color: #3c763d;}
.unit_text{position:absolute;display:block;left:25px;top:38px;z-index:9;color:#000;font-size: 12px;}

.panel-group {
    margin-bottom: 0px;
}

input[readonly],input[disabled],textarea[disabled]
{
    /*background-color:rgb(225,241,240) !important;*/
    background-color:#ccc;
}

.down_arrow_line{ background-color: rgb(238,238,238);width:20px;height:100%;position: absolute;margin-left: -20px;margin-top: 5px;}

.glyphicon-chevron-up {
    color: #01a4ef !important;
    cursor: pointer;
}
.glyphicon-chevron-down {
    color: #01a4ef !important;
    cursor: pointer;
}
.main_div {
    width:100%;background-color:#F2F2F2;
}
.container_div {
    margin-top:30px;padding:20px 0px 20px 21px
}
.order_excel {
    width:30px;height:25px;margin-top: -6px;
}
.spna_DateETA {
    margin-left: -24px !important;
}
.lblOutOf {
    width:100%;
    padding-left:0px;
}
.middle{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    }
#UDG_budget input, textarea{

    max-width:100%;
}

.labelname{

    display: inline-block;
    margin-bottom: 0px;
    padding-left: 17px;
    font-weight: bold;
    color: #fff;
    background-color: #505050 ;
    width: 100%;
    height: 30px;
    line-height: 31px;
}

.people{
    position: absolute;
    display: block;
    top: 38px;
    z-index: 9;
    color: #000;
    font-size: 12px;
    right: 22px;
}

.unit_text1 {
    position: absolute;
    display: block;
    left: 29px;
    top: 9px;
    z-index: 0;
    color: #000;
    font-size: 12px;
    font-weight: bold;
}

.ApprovalLabel{
margin-bottom: 0px;
display: block;
background-color: lightgray;
color: black;

}

/*************messagebox style******/
.message{ margin:10px 0; padding:10px; min-height:50px; overflow:hidden;}
.message ol, .message p,.message ul{ padding-left:70px;}
.message li{ line-height:18px; width:44%; float:left;}
.error{ background:#fff6f6 url(../Images/error_ico.png) no-repeat 16px 10px;  border:1px solid #ff0000;  color:#ff0000;}
.warning{ background:#fffcce url(../Images/warning_ico.png) no-repeat 16px 10px; border:1px solid #ebdd00; color:#ff8400;}
.success{ background:#dcfdae url(../Images/success_ico.png) no-repeat 16px 10px; border:1px solid #3a9805; color:#579302;}

.DivContainer {
        border: 1px solid #000;
        background-color: #eee;
        border: 1px solid #8F8F8F;
        box-shadow: 1px 1px 0 #CCCCCC, -1px 6px 1px -3px #E7E7E7 inset;
        transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
        height: 100px;
        overflow-y: scroll;
        border-radius: 5px;
        padding: 2px;
        margin-top: 23px;
        width: 202px;
        padding-top: 5px;
    }

    .UserContainer .label-white {
        margin: 0 2px;
    }


    .SpanContainer {
        margin: 2px;
        float: left;
        padding: 4px;
        word-wrap: normal;
        display: block;
        width: 157px;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }

    .spanOuter {
        background-color: #ccc;
        border: 2px solid #000;
        border-radius: 6px;
        box-shadow: 1px 2px;
        display: table;
        margin-bottom: 8px;
    }


    .RefreshWarning {
    width: 100%;
    background-color: yellow;
    color: red;
    padding-left: 15px;
    }
