<table style="width:100%;" cellspacing="0" class="table table-bordred" id="tblProductList">
    <thead>
        <tr>
            <th style="text-align:left">Product Name</th>
            <th class="action-col"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var data in Model)
            {

                //Display mode row start here
                <tr data-Class_Id="@data.Product_Id" class="display-mode">
                    <td title="@data.Product_Name" style="width:90%">
                        @data.Product_Name
                    </td>

                    <td class="clsAction" style="width:10%">                       
                        <a href="javascript:void(0);" title="Edit" class="clsEditProduct">  
                            <span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="javascript:void(0);" title="Delete" class="clsDeleteProduct" @*name="deleteProduct"*@>
                            <span class="glyphicon glyphicon-remove-sign"></span>
                        </a>                      
                    </td>
                </tr>
            }
        }

    </tbody>
</table>




