@model InventoryTool.Model.VMImage
<div class="form-group">
    <div class="col-md-10">
        <input type="file" name="ImageData" id="FileUploader" onchange="uploadImage(this, @Model.Parent_Id);" />
    </div>
</div>
<br />
@if (Model != null && Model.Image != null && Model.Image.Image_Data != null)
{

    var base64 = Convert.ToBase64String(Model.Image.Image_Data);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

    <img src="@imgSrc" />
        <a href="@imgSrc" download="@Model.Parent_Id.ToString()_@Model.Image.Image_Id.ToString() image.png">
           Download Image
        </a>
    
}

 
<script type="text/javascript">   
    function uploadImage(obj, Part_Id) {
        var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
        if ($.inArray($(obj).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            alert("Only '.jpeg','.jpg', '.png', '.gif', '.bmp' formats are allowed.");
            return;
        }
        debugger;

        var data = new FormData();
        var files = $("#FileUploader").get(0).files;
        if (files.length > 0) {
            data.append("ImageData", files[0]);
        }
        $.ajax({
            url: "/Part/UploadImage?Part_Id=" + Part_Id,
            type: "POST",
            processData: false,
            contentType: false,
            data: data,
            beforeSend: function () {
                Common.showDialog.show('Please wait....', {
                    dialogSize: 'sm',
                    progressType: 'warning'
                });
            },
            complete: function () {
                Common.showDialog.hide();
            },
            success: function (result) {
                debugger;
                if (result.operationstatuscode == 1 || result.operationstatuscode == 2) {
                    fn_ShowHideUserMessageDivWithCssClass_common('divDisplayPartMessages', result.messagedata, true, 'alert alert-success');
                }
                else {
                    fn_ShowHideUserMessageDivWithCssClass_common('divDisplayPartMessages', result.messagedata, true, 'alert alert-danger');
                }

            },
            error: function (ex) {
                alert(ex.responseText);
            }

        });
    }
</script>

